

.buttonDiv {
    margin-top: 8px;
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.icon {
    margin-left: 8px;
    cursor: pointer;
}

.EditCardFormContainer {
    width: 284px;
    margin-bottom: 8px;
}

.card {
    min-height: 85px;
    padding: 0;
}

.card-header, .card-body {
    padding: 0.75rem !important;
}

.modal-dialog{
    margin:6rem auto;
}

.modal-content{
    background-color:#6c757d!important ;
    overflow: hidden;
    border-radius: 1rem;
}

.modal-header{
    color:white;
}
.modal-title{
    width: 100%;
    text-align: center;
}

.form-group{
    color: white;
    .form-control{
        background-color: #6c757d;
        color:inherit;
        width: 95%;
        resize: none;
    }
    .form-label{
        text-align: center;
        margin-left: .5rem;
    }
}

.textArea {

    resize: none;
    width: 100%;
    overflow: hidden;
    outline: none;
    border: none;
}


.buttonContainer {
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

